<head>
    <link rel="stylesheet" href="/stylesheets/contactsection.css">
</head>
<div class="container-fluid" id="wid">
  <div class="row py-5 my-5" id="contact">
      <div class="col-12 col-lg-7 ml-5">
        <h2>Don't worry for Contact I am Available</h2>
      </div>
      <div class="col-12 col-lg-4">
        <a href="/contact"><button class="btn btn-danger float-sm-right" type="submit">Contact Me Now</button></a>
      </div>
  </div>
</div>