<head>
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<div class="container-fluid" id="footer">
    <div class="row my-5 py-5 ">
        <div class="col-12 text-center" id="h1">
            <h1>PortoFolio</h1>
            <h2>hireme@gmail.com</h2>

            <h3>Shah Taj Sugar Mill Colony</h3>
            <h3>Mandi BahaUddin, Punjab, Pakistan</h3>
        </div>
    </div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#">Stay Connected</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Instagram</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Facebook</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Twitter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Github</a>
        </li>
    </ul>
    <p class="text-center text-muted">&copy; Copyright 2022 Personal Website</p>
</div>

