<head>
    <link rel="stylesheet" href="/stylesheets/style.css"> 
</head>
  
<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light" id="brand">
<li class="nav-item a">
    <a class="navbar-brand" href="#" style="padding-top: 12px; text-transform: uppercase; font-size: 2.2em; font-weight: bold;">Portfolio</a>
</li>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/services">Services</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/portofolio">Portfolio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li>
        <a href="/Contact"><button class="btn btn-danger my-2 my-sm-0 py-lg-2 px-lg-3" type="submit">Get free Consultant</button></a>
      </li>
    </ul>
  </div>
</nav>