<head>
    <link rel="stylesheet" href="/stylesheets/portofoliosection.css">
</head>
<div class="container-fluid" id="services2">  
  <div class="row mt-5 pt-5">
    <div class="col-12 col-lg-6 ml-4 pl-5">
      <h1> Something that I have Build!</h1>
    </div>
    <div class="col-12 col-lg-5 pl-5 pt-5">
      <ul class="list-inline mr-0">
        <a href=""><li class="list-inline-item pl-3">All</li></a>
        <a href=""><li class="list-inline-item pl-3">Branding</li></a>
        <a href=""><li class="list-inline-item pl-3">Logo</li></a>
        <a href=""><li class="list-inline-item pl-3">UI/UX</li></a>
        <a href=""><li class="list-inline-item pl-4">Web Design</li></a>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid py-5" id="card">
  <div class="container">
    <div class="row">
        <div class="col-12 col-lg-4 mt-5 pt-5 pl-lg-5">
        <div class="card h-150">
          <div class="card-body text-left h-100">
            <h3 class="card-title">Time to have More Fun</h3>
            <p class="card-text">A single Page Web Application for helping me choose where to Travel build with NodeJs Bootsrtrap and Firebase.</p>
            <h4 class="text-left">NodeJS Bootstrap CSS Firebase</h4>
            </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-5 px-lg-5 pt-5">
        <div class="card">
          <div class="card-body text-left">
            <h3 class="card-title">Personal Website V1</h3>
            <p class="card-text">My First Portfolio Website I desgined and build in 2021. I learned  quite a bit about HTML CSS NODE JS  and Server Side Rendering. Since then I think my Web Development and Design Skills have improved</p>
            <h4> HTML CSS JS Express MongoDB</h4>
            </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-5 px-lg-5 pt-5">
        <div class="card">
          <div class="card-body text-left">
            <h3 class="card-title">Google Keep Clone</h3>
            <p class="card-text">A simple Google keep clone built with HTML, CSS and JavaScript.</p>
            <h4> HTML CSS JavaScript</h4>
            </div>
        </div>
      </div>
  </div>   
  </div>
    <div class="container">
    <div class="row">
        <div class="col-12 col-lg-4 mt-5 pt-5 pl-lg-5">
        <div class="card h-150">
          <div class="card-body text-left h-100">
            <h3 class="card-title">Fiverr Clone</h3>
            <p class="card-text">A simple Fiverr Clone Built with the Bootstrap, Tailwind CSS and JavaScript.</p>
            <h4> HTML Tailwind JavaScript</h4>
            </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-5 px-lg-5 pt-5">
        <div class="card">
          <div class="card-body text-left">
            <h3 class="card-title">Bookme Application</h3>
            <p class="card-text">A book Me Application built with the Bootstrap Node js Express and MongoDB.</p>
            <h4> Bootstrap MongoDB ExpressJS NodeJS</h4>
            </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-5 px-lg-5 pt-5">
        <div class="card">
          <div class="card-body text-left">
            <h3 class="card-title">Online Bus Reservation</h3>
            <p class="card-text">Online Bus Reservation Application Built using REACT MONGODB Express and NODEJS.</p>
                <h4> React NODEJS EXPRESSJS MONGODB</h4>
            </div>
        </div>
      </div>
  </div>   
  </div>   
    <div class="container">
    <div class="row">
        <div class="col-12 col-lg-4 mt-5 pt-5 pl-lg-5">
        <div class="card h-150">
          <div class="card-body text-left h-100">
            <h3 class="card-title">UI/UX Design</h3>
            <p class="card-text">Free resource that will help nderstand 
              thecv designc process and improve theroi nderstand the design process andisei impro are of vquality.</p>
            <h4> HTML CSS</h4>
            </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-5 px-lg-5 pt-5">
        <div class="card">
          <div class="card-body text-left">
            <h3 class="card-title">Digital Marketing</h3>
            <p class="card-text">Free resource that will help nderstand thecv designc process 
              and improve theroi nderstand the design process andisei impro are of vquality.</p>
            <h4> HTML CSS</h4>
            </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-5 px-lg-5 pt-5">
        <div class="card">
          <div class="card-body text-left">
            <h3 class="card-title">Digital Marketing</h3>
            <p class="card-text">Free resource that will help nderstand thecv designc process 
              and improve theroi nderstand the design process andisei impro are of vquality.</p>
            <h4> HTML CSS</h4>
            </div>
        </div>
      </div>
  </div>   
  </div>   
</div>