<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/about.css">
        <%- include('../partials/head'); %>
    </head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron my-5 py-5 px-5 h-100" id="aboutstart">
        <h1 class="pl-lg-4 mt-5 pt-5">
            About Me
        </h1>
        <h2 class="pl-lg-4 mt-2 pb-5">
            Home/About Me
        </h2>
    </div>

    <div class="row pt-lg-5 mt-lg-5">
        <div class="col-lg-6 col-12 ml-5">
            <img class="ml-5 pl-5" src="/images/picture2.jpg" alt="Picture 2" width="85%" height="70%">
        </div>
        <div class="col-lg-5 col-12 mt-lg-5">
            <h1>
                I Create Products Not Just Art.
            </h1>
            <p>
               Create a passion project 
               that will help people. Start by learning what makes a good product, then create something amazing!
            </p>
            <h1 class="vl" style="width:80% ;">
                Developed websites for small businesses, ecommerce stores, big brands and large corporations.
            </h1>
            <p class="para2">
                Are you passionate about creating products? Do you have an idea or product that you'd love to share with others? Then read on!
            </p>
        </div>
    </div>
<div class="container-fluid bg-black" id="about">
    <div class="row">
        <div class="col-12 py-5">
            <h1 class="text-center">About <span class="yellowme">Me</span></h1>
        </div>
    </div>
    <div class="row pl-5">
        <div class="col-12 pb-5">
            <h2>Personal Information</h2>
        </div>
    </div>
    <div class="row pl-5">
        <div class="col-lg-3 col-6">
            <h4>First Name:</h4>
            <h5> Akash</h5>

            <h4>Last Name:</h4>
            <h5>Ur Rehman</h5>

            <h4>Age:</h4>
            <h5>22 Years</h5>

            <h4>Nationality</h4>
            <h5>Pakistani</h5>

            <h4>
                Freelance
            </h4>
            <h5>
                Available
            </h5>
        </div>

        <div class="col-lg-3 col-6 pl-5">
            <h4>
                Adrress
            </h4>
            <h5>
                Mandi Bahad uddin, Pakistan
            </h5>

            <h4>
                Phone:
            </h4>
            <h5>
                +92 3494611282
            </h5>
            <h4>
                Email:
            </h4>
            <h5>
                akashurrehman345@gmail.com
            </h5>
            <h4>
                Skype
            </h4>
            <h5>
                akash.rehman
            </h5>
            <h4>
                Languages
            </h4>
            <h5>
                English,Urdu,Punjabi
            </h5>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card m-md-5">
                <div class="card-body">
                    <h5 class="card-title">2+</h5>
                    <p class="card-text">Years of Experience</p>
                </div>
            </div>
            <div class="card m-md-5">
                <div class="card-body">
                    <h5 class="card-title">20+</h5>
                    <p class="card-text">Completed Projects</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card m-md-5">
                <div class="card-body">
                    <h5 class="card-title">15+</h5>
                    <p class="card-text">Satisfied Customers</p>
                </div>
            </div>
            <div class="card m-md-5">
                <div class="card-body">
                    <h5 class="card-title">3+</h5>
                    <p class="card-text">Awards Won</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-5" id="skills">
        <div class="col-12">
            <h1 class="text-center">My <span class="yellowme">Skills</h1>
        </div>
    </div>
    <div class="row ml-5" id="bar">
        <div class="col-lg-3 col-6">
            
            <div class="container">
            <div class="skills html">90%</div>
            </div>
            <h2>HTML</h2>
        </div>
        <div class="col-lg-3 col-6">
            <div class="container">
            <div class="skills css">95%</div>
            </div>
            <h2>CSS</h2>
        </div>
        <div class="col-lg-3 col-6">
            <div class="container">
            <div class="skills js">80%</div>
            </div>
            <h2>Javascript</h2>
        </div>
        <div class="col-lg-3 col-6">
            <div class="container">
            <div class="skills bs">90%</div>
            </div>
            <h2>Bootstrap</h2>
        </div>
    </div>
        <div class="row ml-5 py-5 mt-5" id="skill2">
        <div class="col-lg-3 col-6">
            <div class="container">
            <div class="skills react">70%</div>
            </div>
            <h2>React</h2>
        </div>
        <div class="col-lg-3 col-6">
            <div class="container">
            <div class="skills node">70%</div>
            </div>
            <h2>Node</h2>
        </div>
        <div class="col-lg-3 col-6">
            <div class="container">
            <div class="skills python">65%</div>
            </div>
            <h2>Python</h2>
        </div>
        <div class="col-lg-3 col-6">
            <div class="container">
            <div class="skills jq">80%</div>
            </div>
            <h2>JQuery</h2>
        </div>
    </div>

    <div class="row py-5" id="Education">
        <div class="col-12 py-5">
            <h1 class="text-center">
                Education & <span class="yellowme">Experience</span>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-12">
            <h3>
                2015-2017
            </h3>
            <h2>
                Matric - M B High School
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, vero tempora! Nulla illo aspernatur fuga quae et libero placeat
                 ea sed laboriosam deserunt, at in voluptates modi nostrum autem quod.
            </p>

            <h3>
                2018-2019
            </h3>
            <h2>
                FSC - District Jinnah Public College
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, vero tempora! Nulla illo aspernatur fuga quae et libero placeat
                 ea sed laboriosam deserunt, at in voluptates modi nostrum autem quod.
            </p>

            <h3>
                2019-2023
            </h3>
            <h2>
                Bachelor in Software Engineering - COMSATS University
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, vero tempora! Nulla illo aspernatur fuga quae et libero placeat
                 ea sed laboriosam deserunt, at in voluptates modi nostrum autem quod.
            </p>
        </div>
        <div class="col-lg-6 col-12">
            <h3>
                2018-2019
            </h3>
            <h2>
                UI/UX Designer
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, vero tempora! Nulla illo aspernatur fuga quae et libero placeat
                 ea sed laboriosam deserunt, at in voluptates modi nostrum autem quod.
            </p>

            <h3>
                2019-2020
            </h3>
            <h2>
                Junior Frontend Developer
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, vero tempora! Nulla illo aspernatur fuga quae et libero placeat
                 ea sed laboriosam deserunt, at in voluptates modi nostrum autem quod.
            </p>

            <h3>
                2020-2021
            </h3>
            <h2>
                Developer
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, vero tempora! Nulla illo aspernatur fuga quae et libero placeat
                 ea sed laboriosam deserunt, at in voluptates modi nostrum autem quod.
            </p>
        </div>
    </div>
</div>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>