<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/services.css">
        <%- include('../partials/head'); %>
    </head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron my-5 py-5 px-5 h-100" id="aboutstart">
        <h1 class="pl-lg-4 mt-5 pt-5">
            My portofolio
        </h1>
        <h2 class="pl-lg-4 mt-2 pb-5">
            Home/My Portofolio
        </h2>
    </div>

    <!--Portofolio Section-->
<%- include('../partials/portofoliosection')%>

</main>

<%- include('../partials/footer')%>
</body>
</html>